
<div class="card mb-4 shadow-sm" *ngIf="post">
  <img src="{{ post.thumbnailUrl}}"/>
  <div class="card-body">
    <p class="card-text">{{ post.title }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a [routerLink]="['/list', post.id]" class="btn btn-sm btn-outline-secondary">View</a>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
      </div>
      <small class="text-muted">Album Id : {{post.albumId}}</small>
    </div>
  </div>
</div>