

<app-header></app-header>
<main role="main" *ngIf="postDetails">

  <section class="jumbotron text-center">
    <div class="container">
      <img [src]="postDetails.thumbnailUrl"/>
      <h1 class="jumbotron-heading">{{ postDetails.title }}</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
    </div>
  </section>
</main>


<app-footer></app-footer>